/* -------------------- */
/*   general settings   */
/* -------------------- */

:root {
	/* --red-dark: #f84f4f;	 */
	--red-dark: #a03a45;
	--red-light: #b57577;
	--blue-dark: #2b4b71;
	--blue-light: #39b3ce;
	--white-dark: #ccc4c7;
	--white-light: #f5f5f5;
	--yellow: rgb(255, 242, 100);

	/* unused */
	--black-dark: #111111;
	--black-light: #333333;
	/* --blue-light: #8299b2; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1.5em;
	/* added for nav-toggle positioning */
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
}

/* every section */

.hero,
.printing,
.gadgets,
.clothing,
.about-us,
.contact {
	padding: 3.5em 0;
	/* border: 1px solid black; */
	display: block;
}

.footer {
	padding: 2.5em 0;
	display: block;
}

.hero__title,
.about-us__title,
.printing__title,
.gadgets__title,
.clothing__title,
.contact__title,
.technologies__title {
	font-size: 2rem;
	font-weight: 900;
	padding: 0.75em 0;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	transition: transform 0.3s ease-in-out;
}

/* animations */

.printing__title:hover,
.gadgets__title:hover,
.clothing__title:hover,
.big-number-text:hover,
.service-text:hover {
	transform: scale(1.2);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--button:hover,
.nav__link--button:focus,
.hero__btn:hover,
.hero__btn:focus {
	opacity: 0.75;
}

/* -------------------- */
/*       navbar         */
/* -------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	opacity: 1;
	align-items: baseline;
	width: 100%;
	height: 5rem;
	text-align: center;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--red-dark);
	/* backdrop-filter: blur(15px); */
	display: flex;
	align-items: center;
	/* border-bottom: 1px solid var(--black-light); */
}

.nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: auto;
}

.nav__list {
	display: flex;
	padding: 0;
	margin: 0 0 0 clamp(1em, 3vw, 4em);
	gap: clamp(1em, 3vw, 4em);
}

.nav__list--secondary {
	display: flex;
	justify-content: flex-end;
}

.nav__item {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 1.25rem;
}

.nav__link {
	position: relative;
	text-transform: uppercase;
	color: var(--white-light);
	transition: 0.3s ease-in-out;
}

.nav__link,
.nav__link::before,
.nav__link::after {
	transition: 0.3s ease-in-out;
}

.nav__link--animation::after {
	content: "";
	position: absolute;
	bottom: -0.5em;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.nav__link--animation:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.nav__link--button {
	padding: 0.5em 1em;
	color: var(--red-dark);
	border-radius: 100px;
	background-color: var(--white-light);
	/* box-shadow: var(--red-light) 0px 8px 24px;
	box-shadow: 2px 0 -2px 0 rgba(0, 0, 0, 0.25); */
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

.logo__img {
	display: flex;
	align-items: center;
	height: 4rem;
}

/* -------------------- */
/*    hamburger menu    */
/* -------------------- */

button {
	background: transparent;
	/* border: 2px solid var(--button-color, #000); */
	border: none;
	border-radius: 0.5rem;
}

.hamburger__svg {
	fill: var(--button-color);
	cursor: pointer;
}

.hamburger__button {
	display: none;
	--button-color: var(--white-light);
}

.hamburger__button .line {
	transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
	transform-origin: center;
	fill: var(--button-color); /* Dodaj tę linię, aby zachować kolor linii */
}

.hamburger__button[aria-expanded="true"] .line {
	transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
	fill: var(--button-color); /* Dodaj tę linię, aby zachować kolor linii na hover */
}

.hamburger__button[aria-expanded="true"] :is(.top, .bottom) {
	y: 45;
}

.hamburger__button[aria-expanded="true"] .top {
	rotate: 45deg;
}

.hamburger__button[aria-expanded="true"] .middle {
	opacity: 0;
}

.hamburger__button[aria-expanded="true"] .bottom {
	rotate: -45deg;
}

/* -------------------- */
/*     hero section     */
/*   (above the fold)   */
/* -------------------- */

.hero-section {
	background-color: var(--blue-dark);
	margin-top: 5rem;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.hero__info {
	color: var(--white-light);
	/* background-color: var(--blue-light); */
	margin-bottom: 2em;
}

.hero__title:first-of-type,
.about-us__title:first-of-type,
.contact__title:first-of-type {
	padding-top: 0;
}

.hero__text,
.about-us__text {
	font-size: 1.25rem;
	padding: 0.5em 0;
	line-height: 1.25em;
}

/* .hero__text--date */
.about-us__text--date {
	font-size: 2rem;
	font-weight: bold;
}

.hero__btn,
.contact__form-btn {
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
	margin: 1em 0;
	padding: 0.5em 1em;
	color: var(--white-light);
	text-shadow: var(--white-dark) 1px 1px 2px;
	border-radius: 100px;
	background-color: var(--red-dark);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

.hero__img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px, rgba(0, 0, 0, 0.36) 0px 2px 4px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.hero__logo {
	height: 6rem;
	margin-bottom: 1em;
}

/* background images */

.about-us-section .container,
.contact-section .container,
.services-section,
.big-numbers-section {
	z-index: 1;
}

.services-section,
.big-numbers-section {
	position: relative;
}

.about-us__bg,
.contact__bg,
.services__bg,
.big-numbers__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Przesuń obrazek w tło */
	object-fit: cover;
}

.about-us__bg {
	background: url("../img/printing_company_2.svg") center/cover no-repeat; /* Zastosuj obrazek w tle */
	opacity: 0.1; /* Ustaw poziom prześwitu */
}
.contact__bg {
	background: url("../img/printing_company_3.jpg") center/cover no-repeat; /* Zastosuj obrazek w tle */
	opacity: 0.15;
	background-size: contain;
}

.services__bg {
	background: url("../img/screen_printing.jpg") center/cover no-repeat; /* Zastosuj obrazek w tle */
	opacity: 0.15;
	background-attachment: fixed;
}

.big-numbers__bg {
	background: url("../img/opt-lasers.jpg") center/cover no-repeat; /* Zastosuj obrazek w tle */
	opacity: 0.1;
	background-attachment: fixed;
}

/* ----------------------------- */
/*   services (stripe section)   */
/* ---------------------------- */

.services-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.services,
.big-numbers {
	margin: 0 auto;
	display: block;
	text-align: center;
	gap: 2em;
}

.service,
.big-number-box {
	padding: 1em 0;
	width: 100%;
}

.service-text,
.big-number-text {
	font-size: 1.75rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em 0;
	transition: 0.3s ease-in-out;
}

.service-text {
	color: var(--blue-dark);
}

.service-img {
	width: 10rem;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
	opacity: 0.75;
}

/* -------------------- */
/*   about us section   */
/* -------------------- */

.about-us-section {
	background-color: var(--blue-dark);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* ---------------------------- */
/* big-numbers (stripe section) */
/* --------------------------- */

.big-numbers-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.big-number {
	display: inline-block;
	font-size: 6rem;
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
	border: 2px solid var(--blue-dark);
	color: var(--blue-dark);
	background-color: var(--yellow);
	border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

/* ---------------------------- */
/*       printing section       */
/* ---------------------------- */

.printing-section {
	/* background-color: var(--blue-dark); */
	background: var(--blue-light);
	background: linear-gradient(90deg, var(--blue-dark) 50%, var(--blue-light) 100%);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.printing__services,
.gadgets__services,
.clothing__services {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.printing__service-icon,
.gadgets__service-icon,
.clothing__service-icon,
.hero__icon {
	padding-right: 1ch;
	font-size: 1.5rem;
}

.printing__service,
.gadgets__service,
.clothing__service {
	font-size: 1.5rem;
}

.printing__img,
.gadgets__img,
.clothing__img {
	height: 15rem;
	object-fit: contain;
	opacity: 0.75;
}

.printing__title,
.gadgets__title {
	text-align: center;
	margin-bottom: 1em;
}

.printing__left-col,
.gadgets__left-col,
.clothing__left-col,
.contact__left-col {
	display: flex;
	flex-direction: column;
}

.printing__left-col,
.gadgets__left-col,
.clothing__left-col {
	justify-content: center;
}

/* cards - technologies */

.technologies {
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	gap: 2em;
	flex-wrap: wrap;
	padding: 2em 0 4em;
}

.technologies__title {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	min-width: 350px;
	width: clamp(350px, 80vw, 500px);
	height: 350px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover .card__title {
	opacity: 0;
	transform: scale(0.7);
}
.card:hover img {
	transform: scale(1.25);
}
.card:hover figcaption {
	bottom: 0;
}
.card .card__title {
	position: absolute;
	top: 2rem;
	left: 2rem;
	margin: 0;
	padding: 0;
	color: var(--white-light);
	font-size: 2.5rem;
	text-shadow: var(--black-dark) 2px 2px 2px;
	font-weight: 500;
	letter-spacing: 0.15rem;
	line-height: 1;
	opacity: 1;
	transform: scale(1);
	transition: 0.5s ease;
	z-index: 999;
}

.card img {
	height: 100%;
	transition: 0.5s;
}
.card figcaption {
	position: absolute;
	bottom: -320px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	color: var(--white-light);
	line-height: 1;
	transition: 0.5s;
}
.card figcaption .card__more-info {
	margin: 0 0 1em;
	padding: 0;
}
.card figcaption .card__text {
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 0.5em 0;
}

/* ---------------------------- */
/*        gadgets section       */
/* ---------------------------- */

.gadgets-section {
	/* background-color: var(--red-dark); */
	background: var(--red-dark);
	background: linear-gradient(90deg, var(--red-dark) 50%, var(--red-light) 100%);

	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.gadgets__left-col {
	order: 1;
}
.gadgets__right-col {
	order: 0;
}

/* ----------------------------- */
/*       clothing  section       */
/* ----------------------------- */

.clothing-section {
	/* background-color: var(--blue-dark); */
	background: var(--blue-dark);
	background: linear-gradient(90deg, var(--blue-dark) 50%, var(--blue-light) 100%);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* ---------------------------- */
/*        contact section       */
/* ---------------------------- */

.contact-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.contact__form-title,
.contact__form-input,
.contact__form-btn {
	display: block;
}

.contact__form-input {
	width: 100%;
	opacity: 0.75;
}

.contact__form-input--textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 10ch;
	max-height: 20ch;
}

.contact__form-title,
.contact__adress {
	font-size: 1.5rem;
	line-height: 1.5rem;
	padding: 0.5em 0;
}

.contact__adress--title {
	font-size: 1.75rem;
	line-height: 1.75rem;
	font-weight: 700;
}

.contact__form-input {
	font-size: 1.25rem;
	line-height: 1.25rem;
	padding: 0.5em;
}

.contact__right-col,
.contact__left-col {
	height: auto;
}

.contact__form-btn {
	font-size: 1.5rem;
	margin-bottom: 2em;
}

.contact__map {
	margin: 1.5em 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px, rgba(0, 0, 0, 0.36) 0px 2px 4px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__icon {
	padding-right: 1em;
}

/* --------------------------- */
/*           footer            */
/* --------------------------- */

.footer-section {
	background-color: var(--blue-dark);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.footer__column {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer__column:first-of-type {
	margin-right: 1em;
}

.footer__column:nth-of-type(2) {
	margin-right: -3em;
}

.footer__logo {
	height: 5rem;
	display: flex;
}

.footer__icon {
	display: inline-block;
	color: var(--blue-dark);
	height: 1rem;
	padding-right: 1ch;
}

.footer__title {
	font-size: 1.5rem;
	font-weight: 900;
	padding: 0.5em 0 0.25em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.footer__text {
	display: inline-block;
	font-size: 1rem;
	padding: 0.25em 0;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: normal;
}

.footer__text--lowercase {
	text-transform: lowercase;
}

/* ----------------------------------- */
/*    media queries  - responsivness   */
/* ----------------------------------- */

/* mobile navigation */
@media screen and (max-width: 750px) {
	header .container {
		justify-content: space-between;
	}

	.nav {
		position: fixed;
		top: 5rem;
		left: 0;
		display: flex;
		flex-direction: column;
		transform: translate(100%);
		transition: 0.3s ease-in-out;
		opacity: 0.6;
		padding: 1.5em 0;
		box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.25);
		background-color: var(--white-light);

		background: rgba(172, 205, 251, 0.5);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-radius: 0 0 10px 10px;
	}

	.active {
		visibility: visible;
		transition: 0.3s ease-in-out;
		transform: translate(0%);
		opacity: 1;
	}

	.nav__list {
		position: relative;
		display: flex;
		flex-direction: column;
		top: 0;
		gap: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
	}

	.nav__link {
		color: var(--blue-dark);
	}

	.nav__link--button {
		background-color: var(--yellow);
	}

	.nav__item {
		font-size: 1.5rem;
		padding: 0.5em 0;
		margin: 0 auto;
	}

	.nav__list--secondary {
		justify-content: center;
	}

	.hamburger__button {
		display: block;
	}

	.logo__img {
		height: 3.5rem;
	}
}

/* ============= */
/* == desktop == */
/* ============= */

@media (min-width: 750px) {
	.hero,
	.printing,
	.gadgets,
	.clothing,
	.contact {
		display: flex;
		gap: 3em;
	}

	.footer {
		display: flex;
		gap: 2em;
	}

	.hero__info {
		width: 50%;
		margin-bottom: 0;
	}

	.hero__img {
		width: 50%;
	}

	.hero__btn {
		margin-bottom: 0;
	}

	.services,
	.big-numbers {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 2em 0;
	}

	.gadgets__left-col {
		order: 1;
	}

	.gadgets__right-col {
		order: 0;
	}

	.printing__left-col,
	.printing__right-col,
	.gadgets__left-col,
	.gadgets__right-col,
	.clothing__left-col,
	.clothing__right-col,
	.contact__left-col,
	.contact__right-col {
		width: 50%;
	}

	.printing__text,
	.gadgets__text,
	.clothing__text,
	.technologies__title {
		text-align: center;
	}

	.printing__title,
	.gadgets__title,
	.clothing__title {
		margin-bottom: 0;
	}

	.printing-section {
		background: linear-gradient(270deg, var(--blue-dark) 50%, var(--blue-light) 100%);
	}

	.gadgets-section {
		background: linear-gradient(90deg, var(--red-dark) 50%, var(--red-light) 100%);
	}

	.clothing-section {
		background: linear-gradient(270deg, var(--blue-dark) 50%, var(--blue-light) 100%);
	}
}
