/* -------------------- */
/*   general settings   */
/* -------------------- */

:root {
	/* RED */
	/* --red-light: #a03a45; */
	--red-light: #c2200e;
	/* --red-dark: #b57577; */
	--red-dark: #8a0e00;
	/* BLUE */
	--blue-dark: #2b4b71;
	/* --blue-light: #39b3ce; */
	--blue-darker: #001938;

	/* WHITE */
	/* --white-dark: #ccc4c7; */
	--white-dark: #e1e2e6;
	--white-light: #f5f5f5;

	--yellow: rgb(255, 242, 100);

	/* unused */
	--black-dark: #111111;
	--black-light: #333333;
	/* --blue-light: #8299b2; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
}

body {
	/* font-family: "Roboto", sans-serif; */
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

ul {
	list-style: square;
	list-style-position: inside;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1.5em;
	/* added for nav-toggle positioning */
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
}

/* every section */

.hero,
.printing,
.gadgets,
.clothing,
.about-us,
.contact {
	padding: 3.5em 0;
	/* border: 1px solid black; */
	display: block;
}

.services {
	padding: 3.5em 0;
}

.footer {
	padding: 2.5em 0;
	display: block;
}

.hero__title,
.about-us__title,
.printing__title,
.gadgets__title,
.clothing__title,
.contact__title,
.services__title {
	font-size: 1.75rem;
	font-weight: 700;
	padding-bottom: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	transition: transform 0.3s ease-in-out;
}

.hero__title {
	font-size: 2.5rem;
}

.printing__title,
.gadgets__title,
.clothing__title {
	color: var(--blue-dark);
	padding: 1rem 0;
}

.gadgets__title {
	color: var(--red-light);
}

.title__bg {
	background-color: var(--white-light);
	padding: 1rem 1rem;
}

.title--desktop {
	display: inline-block;
}

/* animations */

.nav__link--button:hover,
.nav__link--button:focus,
.nav__link:hover,
.nav__link:focus,
.hero__btn:hover,
.hero__btn:focus {
	opacity: 0.85;
}

/* -------------------- */
/*       navbar         */
/* -------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	opacity: 1;
	align-items: baseline;
	width: 100%;
	height: 5rem;
	text-align: center;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--red-light);
	/* backdrop-filter: blur(15px); */
	display: flex;
	align-items: center;
	/* border-bottom: 1px solid var(--black-light); */
}

.nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: auto;
}

.nav__list {
	display: flex;
	padding: 0;
	margin: 0 0 0 clamp(1em, 3vw, 4em);
	gap: clamp(1em, 3vw, 4em);
}

.nav__list--secondary {
	display: flex;
	justify-content: flex-end;
}

.nav__item {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 1.125rem;
}

.nav__link {
	position: relative;
	text-transform: uppercase;
	color: var(--white-light);
	transition: 0.3s ease-in-out;
}

.nav__link,
.nav__link::before,
.nav__link::after {
	transition: 0.3s ease-in-out;
}

.nav__link--animation::after {
	content: "";
	position: absolute;
	bottom: -0.5em;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.nav__link--animation:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.nav__link--button {
	padding: 0.5em 1em;
	color: var(--red-light);
	border-radius: 10px;
	background-color: var(--white-light);
	/* box-shadow: var(--red-dark) 0px 8px 24px;
	box-shadow: 2px 0 -2px 0 rgba(0, 0, 0, 0.25); */
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

.logo__img {
	display: flex;
	align-items: center;
	height: 4rem;
}

/* -------------------- */
/*    hamburger menu    */
/* -------------------- */

button {
	background: transparent;
	/* border: 2px solid var(--button-color, #000); */
	border: none;
	border-radius: 0.5rem;
}

.hamburger__svg {
	fill: var(--button-color);
	cursor: pointer;
}

.hamburger__button {
	display: none;
	--button-color: var(--white-light);
}

.hamburger__button .line {
	transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
	transform-origin: center;
	fill: var(--button-color); /* Dodaj tę linię, aby zachować kolor linii */
}

.hamburger__button[aria-expanded="true"] .line {
	transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
	fill: var(--button-color); /* Dodaj tę linię, aby zachować kolor linii na hover */
}

.hamburger__button[aria-expanded="true"] :is(.top, .bottom) {
	y: 45;
}

.hamburger__button[aria-expanded="true"] .top {
	rotate: 45deg;
}

.hamburger__button[aria-expanded="true"] .middle {
	opacity: 0;
}

.hamburger__button[aria-expanded="true"] .bottom {
	rotate: -45deg;
}

/* -------------------- */
/*     hero section     */
/*   (above the fold)   */
/* -------------------- */

.hero-section {
	background-color: var(--blue-dark);
	margin-top: 5rem;
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.hero__info {
	color: var(--white-light);
	/* background-color: var(--blue-darker); */
	margin-bottom: 2em;
	z-index: 3;
	position: relative;
}

/* .hero__title:nth-of-type(1),
.about-us__title:nth-of-type(1),
.contact__title:nth-of-type(1) {
	padding-top: 0;
} */

.hero__text,
.about-us__text {
	font-size: 1.5rem;
	padding: 0.5em 0em;
	line-height: 1.25em;
}

.hero__text {
	flex: 1;
	padding-inline: 1em;
	justify-content: baseline;
}

.hero__text:nth-of-type(2) {
	border-left: 2px var(--white-light) solid;
	border-right: 2px var(--white-light) solid;
}

.about-us__text {
	font-size: 1rem;
	line-height: 1.5;
}

/* .hero__text--date */
.about-us__text--date {
	font-size: 1.25rem;
	font-weight: bold;
}

.hero__btn,
.contact__form-btn {
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
	margin: 1em 0;
	padding: 0.5em 1em;
	color: var(--white-light);
	text-shadow: var(--white-dark) 1px 1px 2px;
	border-radius: 10px;
	background-color: var(--red-light);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

/* .hero__img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px, rgba(0, 0, 0, 0.36) 0px 2px 4px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
} */

.hero__logo {
	height: 10rem;
	margin-bottom: 1em;
}

/* background images */

.about-us-section .container,
.contact-section .container,
.offer-section,
.big-numbers-section {
	z-index: 1;
}

.hero__bg,
.hero__bg--gradient,
.about-us__bg,
.contact__bg,
.offer__bg,
.big-numbers__bg,
.big-numbers__bg--gradient,
.footer__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Przesuń obrazek w tło */
	object-fit: cover;
}

.hero__bg--gradient {
	background: var(--blue-dark);
	background: linear-gradient(90deg, var(--blue-darker) 10%, var(--blue-dark) 100%);
	z-index: 1; /* Przesuń obrazek w tło */
	opacity: 1;
}

.hero__bg {
	background: url("../img/hero_bg.png") center/cover no-repeat;
	background-size: cover;
	z-index: 2;
	opacity: 0.6;
}

.about-us__bg {
	/* background: url("../img/printing_company_2.svg") center/cover no-repeat;  */
	background-color: rgba(0, 25, 56, 1);
	background-image: radial-gradient(circle, rgba(43, 75, 113, 1) 30%, rgba(0, 25, 56, 1) 100%);
	opacity: 0.75; /* Ustaw poziom prześwitu */
	z-index: 0;
}

.footer__bg {
	background-color: rgba(0, 25, 56, 1);
	background-image: radial-gradient(circle, rgba(43, 75, 113, 1) 30%, rgba(0, 25, 56, 1) 100%);
	opacity: 0.5; /* Ustaw poziom prześwitu */
	z-index: 0;
}

.contact__bg {
	background: url("../img/contact_bg.jpeg") center/cover no-repeat; /* Zastosuj obrazek w tle */
	opacity: 0.5;
	z-index: 0;
}

.offer__bg {
	/* background: url("../img/opt-lasers.jpg") center/cover no-repeat; Zastosuj obrazek w tle */
	background-color: var(--white-light);
	background-image: radial-gradient(circle, var(--white-light) 50%, var(--blue-dark) 100%);
	opacity: 0.2;
	/* background-attachment: fixed; */
}

.big-numbers__bg {
	background: url("../img/numbers_bg.png") center/cover no-repeat; /* Zastosuj obrazek w tle */
	z-index: 2;
	opacity: 0.5;
	background-attachment: fixed;
	background-position-x: -300px;
	background-position-y: 50px;
}

.big-numbers__bg--gradient {
	background: var(--white-dark);
	background: linear-gradient(270deg, var(--white-dark) 50%, var(--white-light) 100%);
	z-index: 1; /* Przesuń obrazek w tło */
	opacity: 1;
}

/* ----------------------------- */
/*   offer (stripe section)   */
/* ---------------------------- */

.offer-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.offers,
.big-numbers {
	margin: 0 auto;
	display: block;
	text-align: center;
	gap: 3em;
	display: flex;
}

.offer,
.big-number__box {
	padding: 1em 0;
	width: 100%;
	flex: 1;
}

.offer {
	padding: 0;
}

.offer__text,
.big-number__text {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 1em;
	transition: 0.3s ease-in-out;
}

.offer__text--blue {
	color: var(--blue-dark);
}

.offer__text--red {
	color: var(--red-light);
}

.offer__img {
	width: 300px;
	height: 300px;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
}

/* -------------------- */
/*   about us section   */
/* -------------------- */

.about-us-section {
	background-color: var(--blue-dark);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.about-us__title {
	text-align: center;
}

.about-us__img-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-us__img {
	height: 150px;
	width: 150px;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
}

/* ---------------------------- */
/* big-numbers (stripe section) */
/* --------------------------- */

.big-numbers-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.big-numbers {
	z-index: 3;
	position: relative;
}

.big-number {
	display: inline-block;
	font-size: 6rem;
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
	color: var(--blue-dark);
	/* border: 2px solid var(--blue-dark);
	background-color: var(--yellow);
	border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 2px 4px; */
	text-shadow: var(--blue-darker) 1px 1px 1px;
}

/* ---------------------------- */
/*       printing section       */
/* ---------------------------- */

.printing-section {
	/* background-color: var(--blue-dark); */
	background: var(--blue-darker);
	background: linear-gradient(90deg, var(--blue-dark) 50%, var(--blue-darker) 100%);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.printing__services,
.gadgets__services,
.clothing__services {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 1em;
}

.printing__service-icon,
.gadgets__service-icon,
.clothing__service-icon,
.hero__icon {
	padding-right: 1ch;
	font-size: 1.5rem;
}

.printing__service,
.gadgets__service,
.clothing__service {
	font-size: 1rem;
}

.printing__img,
.gadgets__img,
.clothing__img {
	height: 15rem;
	object-fit: contain;
}

.printing__title,
.gadgets__title,
.clothing__title {
	text-align: center;
	margin-bottom: 1em;
}

/* ---------------------------- */
/*        gadgets section       */
/* ---------------------------- */

.gadgets-section {
	/* background-color: var(--red-light); */
	background: var(--red-light);
	background: linear-gradient(90deg, var(--red-light) 50%, var(--red-dark) 100%);

	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.gadgets,
.printing,
.clothing,
.gadgets__col,
.printing__col,
.clothing__col {
	display: flex;
	flex-direction: column;
}

.gadgets__left-col {
	order: 1;
}
.gadgets__right-col {
	order: 0;
}

/* ----------------------------- */
/*       clothing  section       */
/* ----------------------------- */

.clothing-section {
	/* background-color: var(--blue-dark); */
	background: var(--blue-dark);
	background: linear-gradient(90deg, var(--blue-dark) 50%, var(--blue-darker) 100%);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.clothing__suppliers {
	display: flex;
	gap: 3em;
	padding-bottom: 3.5em;
}

.clothing__supply {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clothing__logo {
	width: 80%;
	height: 80%;
	opacity: 0.8;
	transition: 0.3s ease-in-out;
}

.clothing__logo:hover {
	transform: scale(1.2);
	opacity: 1;
}

/* ----------------------------- */
/*      services  section       */
/* ----------------------------- */

.services-section {
	background-color: var(--red-light);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* cards - services */

.services {
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	gap: 1em;
	flex-wrap: wrap;
	padding: 2em 0 4em;
}

.services__title {
	text-align: left;
	margin-top: 0;
	padding: 2em 0 0.5em;
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 350px; */
	/* min-width: 350px; */
	/* width: clamp(350px, 80vw, 450px); */
	width: clamp(100px, 80vw, 250px);
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover .card__title {
	opacity: 0;
	transform: scale(0.7);
}
.card:hover img {
	transform: scale(1.25);
}
.card:hover figcaption {
	bottom: 0;
}
.card .card__title {
	position: absolute;
	top: 1rem;
	left: 1rem;
	margin: 0;
	padding: 0;
	color: var(--white-light);
	font-size: 2rem;
	text-shadow: var(--black-dark) 2px 2px 2px;
	font-weight: 500;
	letter-spacing: 0.15rem;
	line-height: 1;
	opacity: 1;
	transform: scale(1);
	transition: 0.3s ease;
	z-index: 2;
}

.card img {
	height: 100%;
	transition: 0.5s;
}

.card__img--full {
	width: 100%;
	height: auto;
}

.card figcaption {
	position: absolute;
	bottom: -290px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	color: var(--white-light);
	line-height: 1;
	transition: 0.5s;
}
.card figcaption .card__more-info {
	margin: 0 0 2em;
	padding: 0;
}
.card figcaption .card__text {
	font-size: 1rem;
	line-height: 1.25;
	padding: 0.5em 0;
}

.card figcaption .card__text:last-of-type {
	padding-bottom: 0;
}

/* ---------------------------- */
/*        contact section       */
/* ---------------------------- */

.contact-section {
	background-color: var(--white-light);
	color: var(--blue-dark);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.contact__form-title,
.contact__form-input,
.contact__form-btn {
	display: block;
}

.contact__form-input {
	width: 100%;
	opacity: 0.92;
}

.contact__form-input--textarea {
	min-width: 100%;
	max-width: 100%;
	max-width: 502px;
	min-height: 10ch;
	max-height: 280px;
}

.contact__form-title,
.contact__adress {
	font-size: 1.25rem;
	line-height: 1.25rem;
	padding: 0.5em 0;
}

.contact__adress--title {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.contact__form-input {
	font-size: 1.25rem;
	line-height: 1.5rem;
	padding: 0.5em;
}

.contact__form-btn {
	margin-bottom: 2em;
}

.contact__map {
	margin: 1.5em 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px, rgba(0, 0, 0, 0.36) 0px 2px 4px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 502px;
	height: 430px; */
	width: 100%;
	height: 430px;
}

.contact__icon {
	padding-right: 1em;
	height: 20px;
	width: 50px;
}

.contact__icon--wide {
	height: 12px;
}

/* --------------------------- */
/*           footer            */
/* --------------------------- */

.footer-section {
	background-color: var(--black-dark);
	color: var(--white-light);
	box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
}

.footer__column {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer__logo {
	height: 5rem;
	display: flex;
}

.footer__icon {
	display: inline-block;
	color: var(--blue-dark);
	height: 1rem;
	padding-right: 1ch;
}

.footer__title {
	font-size: 1.25rem;
	font-weight: 900;
	padding: 0.5em 0 0.25em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.footer__text {
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.25em 0;
	line-height: 1;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: normal;
}

.footer__text a {
	color: var(--white-light);
}

.footer__text--lowercase {
	text-transform: lowercase;
}

/* ----------------------------------- */
/*    media queries  - responsivness   */
/* ----------------------------------- */

/* mobile navigation */
@media screen and (max-width: 750px) {
	header .container {
		justify-content: space-between;
	}

	.nav {
		position: fixed;
		top: 5rem;
		left: 0;
		display: flex;
		flex-direction: column;
		transform: translate(100%);
		transition: 0.3s ease-in-out;
		opacity: 0.6;
		padding: 1.5em 0;
		box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.25);
		background-color: var(--white-light);

		background: rgba(172, 205, 251, 0.5);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-radius: 0 0 10px 10px;
	}

	.active {
		visibility: visible;
		transition: 0.3s ease-in-out;
		transform: translate(0%);
		opacity: 1;
	}

	.nav__list {
		position: relative;
		display: flex;
		flex-direction: column;
		top: 0;
		gap: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
	}

	.nav__link {
		color: var(--white-light);
	}

	.nav__link--button {
		background-color: var(--red-light);
		opacity: 0.75;
	}

	.nav__link--button:hover {
		opacity: 1;
	}

	.nav__item {
		font-size: 1.25rem;
		padding: 0.5em 0;
		margin: 0 auto;
	}

	.nav__list--secondary {
		justify-content: center;
	}

	.hamburger__button {
		display: block;
	}

	.logo__img {
		height: 3.5rem;
	}

	.offers,
	.big-numbers {
		flex-direction: column;
	}

	.hero__title,
	.about-us__title,
	.printing__title,
	.gadgets__title,
	.clothing__title,
	.contact__title,
	.services__title {
		font-size: 1.5rem;
	}

	.hero__text:nth-of-type(2) {
		border: none;
	}

	.about-us__title {
		padding-top: 1em;
	}

	.about-us__title--first {
		padding-top: 0;
	}

	.about-us__text {
		padding: 0 0.5em;
	}

	.big-numbers__bg {
		background-position-x: -250px;
		background-position-y: 2rem;
	}

	.title--desktop {
		display: none;
	}

	.clothing__suppliers {
		flex-direction: column;
		width: 250px;
		column-gap: 3rem;
	}

	.gadgets__col {
		flex-direction: column-reverse;
		order: 2;
	}

	.gadgets__col--swap {
		order: 1;
	}
}
/* ============= */
/* == desktop == */
/* ============= */

@media (min-width: 750px) {
	.hero {
		display: flex;
		gap: 3em;
	}

	.printing,
	.gadgets,
	.clothing,
	.contact {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 3em;
	}

	.contact {
		grid-template-columns: 1fr 1fr;
	}

	.gadgets__services,
	.printing__services,
	.clothing__services {
		margin-bottom: 0;
	}

	.hero__text,
	.about-us__text {
		margin: 1em 0;
	}

	.hero__logo {
		margin: 0.5em 0;
	}

	.about-us {
		display: flex;
		gap: 3em;
	}

	.about-us__column {
		flex: 1;
	}

	.big-number__text:hover,
	.offer__text:hover,
	.about-us__title:hover {
		transform: scale(1.2);
	}

	.footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0;
		grid-template-areas:
			". ."
			". .";
	}

	/* lewy górny */
	.footer__column:nth-child(1) {
		grid-area: 1 / 1 / 2 / 2;
	}

	/* prawy górny */
	.footer__column:nth-child(4) {
		grid-area: 2 / 1 / 3 / 2;
	}

	/* lewy dolny */
	.footer__column:nth-child(2) {
		grid-area: 1 / 2 / 2 / 3;
	}

	/* prawy dolny */
	.footer__column:nth-child(3) {
		grid-area: 2 / 2 / 3 / 3;
	}

	/* Zamień miejscami trzecią i czwartą kolumnę na breakpoincie */

	.hero__info {
		width: 100%;
		margin-bottom: 0;
		text-align: center;
	}

	/* .hero__img {
		width: 50%;
	} */

	.hero__btn {
		margin-bottom: 0;
	}

	.hero__text-box {
		display: flex;
		justify-content: space-between;
		/* gap: 1em; */
	}

	.hero__icon {
		display: none;
	}

	.offers,
	.big-numbers {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 2em 0;
	}

	.gadgets__ .printing__title,
	.gadgets__title,
	.clothing__title {
		margin-bottom: 0;
	}

	.printing-section {
		background: linear-gradient(270deg, var(--blue-dark) 50%, var(--blue-darker) 100%);
	}

	.gadgets-section {
		background: linear-gradient(90deg, var(--red-light) 50%, var(--red-dark) 100%);
	}

	.clothing-section {
		background: linear-gradient(270deg, var(--blue-dark) 50%, var(--blue-darker) 100%);
	}
}

@media (min-width: 980px) {
	.footer {
		display: flex;
		gap: 3em;
	}
}

@media (min-width: 1024px) {
	.printing__service,
	.gadgets__service,
	.clothing__service {
		font-size: 1.2rem;
	}
}
